
.logo_post img{
    width: 200px;
    margin-right: 20px;
}

.logo_post{
    display: flex;
}

.desc p{
    font-size: 18px;
    font-style: italic;
}
.social ul{
    margin: 0;
    padding: 20px 0;
    list-style: none;
}
.social ul li{
    padding-bottom: 10px;
}

.social ul li a{
    color: blue;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.5s;
    cursor: pointer;
}
.social ul li a:hover{
    color: red;
}

.post h3{
    font-size: 20px;
}

.newPost textarea{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    background-color: #E7EDEA;
    padding: 20px;
}

.newPost button{
    border: none;
    background-color: #07B568;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
}

.listPost{
    margin-top: 50px;
}

.listPost div{
    margin-bottom: 30px;
}

.itemPost::before{
    content: '';
    background-color: #F5B000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}
