img{
    max-width: 100%;
}

.users{
    color: #74737A;
}

.user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.avatar{
    width: 150px;
    text-align: center;
    margin-right: 15px;
}

.avatar button {
    background-color: #07B568;
    color: #E7EDEA;
    width: 80%;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.description{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #74737A;
    border-radius: 10px;
    padding: 20px;
    font-size: 26px;
}
.description .leftDesc{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.description .status{
    font-size: 20px;
    font-style: italic;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 500px;
}


.description .rightDesc{
    display: flex;
    flex-direction: column;
}
.description .rightDesc .country{
    margin-bottom: 20px;
}
.pagin{
    list-style: none;
    text-align: center;
}

.pagin li{
    display: inline-block;
    margin: 0 7px;
    padding: 7px 15px;
    background-color: transparent;
    border: 1px solid #cccccc;
    color: #777777;
    cursor: pointer;
}
.pagin a{
    text-decoration: none;
    color: #07B568;
    font-size: 18px;
    transition: all 0.5s;
}
.pagin li:hover a{
    color: #F5B000;
    font-weight: bold;
}

.active a{
    color: #F5B000;
    font-weight: bold;
}


