
.header{
grid-area: header;
background-color: #07B568;
}


.header img{
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #07B568;
}

.logoBlock{
    float: right;
}

.logoBlock a{
    color: white;
}
